:root {
  --color-cornflower: #546de5;
  --color-pencilLead: #596275;
  --color-biscay: #303952;
  --color-softBlue: #778beb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%
 
}
body {
  color: white;
  background-color: var(--color-pencilLead);
}
section#form {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
select {
  width: 100px;
  margin: 30px 0;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1;
  border: none;
  border-radius: 5px;
}
form {
  width: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 60px;
  border-radius: 10px;
  background-color: var(--color-biscay);
}
label {
  display: block;
  margin-top: 20px;
}
input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.button {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
button{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:  var(--color-cornflower);
  border: none;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease-in-out;
}

button:hover{
  background-color: var(--color-softBlue);
}

/*Parte da tabela*/
section#escolherFuncao {
  display: block;
  padding: 20px;
}
section#table {

  display: block;
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
  box-shadow: 2px 2px 100px 1px var(--color-cornflower);
  border-radius: 10px;
  padding: 50px 30px;
}

table {
  margin-left: 0;
  padding: 0;
  background-color:  var(--color-cornflower);
  border-radius: 5px;
  width: 100%; 
}
td, th {
  text-align: center;
  padding: 10px;
}



footer {
  padding-top: 30px;
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

footer img {
  width: 50px;
}

@media screen and (max-width: 800px){
  section#table {

    display: block;
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    box-shadow: 2px 2px 100px 1px var(--color-cornflower);
    border-radius: 10px;
    padding: 20px 0px;
  }
}